<%= form_for(realtor) do |f| %>
  <% if realtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realtor.errors.count, "error") %> prohibited this realtor from being saved:</h2>

      <ul>
      <% realtor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

      <p>物件名<br>
      <%= f.text_field :house %><br>
      賃料<br>
      <%= f.text_field :price %>円<br>
      住所<br>
      <%= f.text_field :address %><br>
      築年数<br>
      <%= f.text_field :age %>年<br>
      備考<br>
      <%= f.text_area :remarkes %><br>
      <%= f.submit "登録する"%></p>
    <% end %>


  </div>
